textarea {
  min-height: 60px;
}

input,
textarea {
  padding: 10px !important;
  @apply w-full placeholder-transparent border-b-2 border-gray-300 focus:outline-none focus:border-primary;
}

label {
  padding-inline: 10px !important;
  @apply absolute left-0 top-2 uppercase text-sm transition-all peer-placeholder-shown:text-base;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label,
input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply -top-5 text-xs;
}
