#me {
  background-image: url('/src/assets/me.jpeg');
  min-height: 60vh;
  box-shadow: inset 0px 0px 20px 20px #242426;
  @apply xl:mx-6 rounded-2xl max-w-full bg-no-repeat bg-cover bg-center;
}
#download {
  @apply pt-1 inline-block relative cursor-pointer hover:scale-125 transition-all duration-150;
}
